extends layout

block content
  #app
    #attributes.col-xs-12
      h2.col-xs-12.text-xs-center Attributes
      .row
        .sheet.col-md-9
          .row
            .attributeGroup.col-md-4(v-for="(value, group) in attributes")
              h3 {{ group | capitalize }}
              //p {{group}} - {{ value }}
              //p {{ attributeAllocations[group] }}

              .btn-group.btn-group-sm(role="group", data-toggle="buttons")
                label.btn.btn-outline-info(v-for="priority in ['primary', 'secondary', 'tertiary']", :class="{ active : attributePriority[group] == priority  }")
                  input(type="radio", :value="priority", @click="changeAttributePriority(group, priority)", autocomplete="off")
                  | {{ priority }}
              dotscale(v-for="(value, key) in attributes[group]", v-model="value", :stat="key", :type="'attribute'", @input="attributes[group][key] = value")
              p points remaining: {{ attributePointsSpent[group].remaining }}
              p BP spent: {{ attributePointsSpent[group].bonusPointsSpent }}
        .data.col-md-3
          .physical
            h5 Physical ({{ attributePriority['physical'] }})
            p {{ attributePointsSpent['physical'] }}
          .mental
            h5 mental ({{ attributePriority['mental'] }})
            p {{ attributePointsSpent['mental'] }}
          .social
            h5 Social ({{ attributePriority['social'] }})
            p {{ attributePointsSpent['social'] }}

    #abilities.row
      .sheet.col-md-9
        .row
          h2.col-xs-12.text-xs-center Abilities
          #abilityList.col-xs-12
            dotscale(v-for="(value, key) in abilities", v-model="value", :stat="key", :type="'ability'", @input="abilities[key] = value")
