extends layout

block content
  #app
    p test
    #attributes
      h2 Attributes
      // TODO: Think about moving this into the 3 attribute categories so it's more modular for grid construction
      dotscale(v-for="(value, key) in attributes", v-model="value", :stat="key", @input="attributes[key] = value")