extends layout

block content
  #app
    #character.col-xs-12
      .row
        h1.col-xs-6
          input(v-model="character.name", placeholder="Harmonious Jade")
        label.col-xs-6
          input(type="text", v-model="character.concept", placeholder="Concept")
        label.col-xs-12
          | Player:
          input(v-model="character.player", placeholder="")
        label.col-xs-12
          | Character type:
          select(v-model="character.characterType")
            option(v-for="(value, key) in characterTypes", :value="key") {{ key | capitalize }}
        label.col-xs-12
          | Anima:
          input(type="text", v-model="character.anima")
    #attributes.col-xs-12
      h2.col-xs-12.text-xs-center Attributes
      .row
        .sheet.col-md-9
          .row
            .attributeGroup.col-md-4(v-for="(value, group) in attributes")
              h3 {{ group | capitalize }}
              //p {{group}} - {{ value }}
              //p {{ attributeAllocations[group] }}

              .btn-group.btn-group-sm(role="group", data-toggle="buttons")
                label.btn.btn-outline-info(v-for="priority in ['primary', 'secondary', 'tertiary']", :class="{ active : attributePriority[group] == priority  }")
                  input(type="radio", :value="priority", @click="changeAttributePriority(group, priority)", autocomplete="off")
                  | {{ priority }}
              dotscale(v-for="(value, key) in attributes[group]", v-model="value", :stat="key", :type="'attribute'", @input="attributes[group][key] = value")
              p points remaining: {{ attributePointsSpent[group].remaining }}
              p BP spent: {{ attributePointsSpent[group].bonusPointsSpent }}
        .data.col-md-3
          .physical
            h5 Physical ({{ attributePriority['physical'] }})
            p {{ attributePointsSpent['physical'] }}
          .mental
            h5 mental ({{ attributePriority['mental'] }})
            p {{ attributePointsSpent['mental'] }}
          .social
            h5 Social ({{ attributePriority['social'] }})
            p {{ attributePointsSpent['social'] }}

    #abilities.row
      .sheet.col-md-9
        .row
          h2.col-xs-12.text-xs-center Abilities
          abilities.col-xs-12(:abilities="abilities", :caste-abilities="characterTypes[character.characterType].castes[character.caste]")

    #merits.row
      .sheet.col-md-9
        .row
          h2.col-xs-12.text-xs-center Merits
