doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap-flex.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/vue/dist/vue.js')
  body.container
    block content
    include _dotscale.jade
    include _abilities.jade
    script(type='text/javascript', src='/javascripts/app.js')
