doctype html
html
  head
    title= title
    //link(rel='stylesheet', href='/tether/dist/css/tether.min.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap-flex.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/vue/dist/vue.js')
    //script(type='text/javascript', src='/tether/dist/tether.min.js')
    script(type='text/javascript', src='/jquery/dist/jquery.min.js')
    script(type='text/javascript', src='/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript', src='/Sortable/Sortable.js')
    script(type='text/javascript', src='/vue.draggable/dist/vuedraggable.min.js')
  body.container
    block content
    include _dotscale.jade
    include _abilities.jade
    include _merits.jade
    script(type='text/javascript', src='/javascripts/app.js')
